---
import Layout from '../../layouts/Layout.astro'
import api from '../../api/api.json'

const { id } = Astro.params;

let disk = null
if (id) {
    disk = api.discos.find((disco) => disco.id === id);
}
---

<Layout title='Twenty One Pilots'>
    <div class="container mx-auto p-4">
        { disk ? 
            (
                <section class="grid place-items-center bg-slate-300 bg-opacity-75 rounded-lg px-12 py-6">
                    <p class="text-font text-2xl sm:text-[36px] pt-2 pb-8">"{disk.nombre}"</p>
                    <div class="grid place-items-center grid-cols-1 xl:grid-cols-2">
                        <div class="w-[320px] h-[320px] pb-5">
                            <img class="w-full h-full object-cover" src={disk.url_imagen} alt=""/>
                        </div>
                        <p class="text-xl sm:text-[22px] text-justify">{disk.descripcion}</p>
                    </div>
                    <p class="text-font text-2xl sm:text-[48px] py-5">canciones</p>
                    <div class="grid place-items-center">
                        {disk.songs.map((song) => (
                            <div class="grid place-items-center">
                                <p class="text-xl sm:text-2xl">{song}</p>
                            </div>
                        ))}
                    </div>
                    <div class="grid place-items-center grid-cols-1 sm:grid-cols-2 py-5">
                        <a class="text-font text-2xl sm:text-[40px] py-5 duration-300 hover:text-white" href="../discografia">volver</a>
                        <a class="text-font text-center text-2xl sm:text-[40px] py-5 duration-300 hover:text-white" href={disk.url_spotify}>escuchar en spotify</a>
                    </div>
                </section>
            ) : (
            <div class="grid place-items-center">
			<p class="text-format text-sm sm:text-xl md:text-3xl text-white py-1 sm:py-3 md:py-5">página no dispobnible</p>
			<div class="w-[175px] h-[100px] sm:w-[350px] sm:h-[200px] md:w-[700px] md:h-[400px]">
				<img class="w-full h-full object-contain" src="/images/tyler-punch.webp" alt="tyler-punch"/>
			</div>
		</div>
            )
        }
    </div>
</Layout>

<style>
    .text-font{
        font-family: "font-atomic";
    }
</style>
